# Pandas - Series

In [1]:
import numpy as np
import pandas as pd

In [3]:
# 시리즈 생성

s = pd.Series([9904312, 3448737, 2890451, 2466052])
s

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [6]:
# 인덱스

s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"], dtype=np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [7]:
# 시리즈의 값 - 넘파이의 배열
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int32)

In [8]:
# 시리즈의 인덱스
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [10]:
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

In [11]:
# 시리즈의 연산
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [12]:
# 시리즈 인덱싱

s[1], s["부산"]

(3448737, 3448737)

In [13]:
s[[0,3,1]]
# 리스트 형태로 주면 2차원으로 나옴

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [14]:
# slicing
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int32

In [15]:
# 인덱스로 슬라이싱하면 마지막까지 포함됨
s['부산':'대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

In [19]:
# 필터링
s[(2500000 < s ) & ( s < 3000000)]

도시
인천    2890451
Name: 인구, dtype: int32

In [21]:
s[(s<25e5) | (s>4e6)]

도시
서울    9904312
대구    2466052
Name: 인구, dtype: int32

## 딕셔너리

In [23]:
 s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158},
               index=["부산", "서울", "인천", "대전"])
 s2

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

In [24]:
'서울' in s
# 키 값으로 맵핑 가능

True

In [25]:
# 인덱스 기반 연산

ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [26]:
s.values - s2.values

array([ 6511121, -6182745,   258416,   975894])

In [28]:
rs = (s-s2)/s2 * 100
rs

대구         NaN
대전         NaN
부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [29]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [30]:
# 데이터의 갱신
rs['부산'] = 1.63
rs

대구         NaN
대전         NaN
부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [33]:
#데이터 추가
rs['대구'] = 1.41
rs

대구    1.410000
대전         NaN
부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [34]:
# 삭제
del rs['부산']
rs

대구    1.410000
대전         NaN
서울    2.832690
인천    9.818107
dtype: float64