# 데이터프레임 고급 인덱싱

In [3]:
import pandas as pd
import numpy as np

## loc 인덱서

In [5]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [6]:
df.loc['x']

A    10
B    11
C    12
D    13
Name: x, dtype: int64

In [7]:
df.loc['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [9]:
df.loc[['x','z']]

    A   B   C   D
x  10  11  12  13
z  18  19  20  21

In [10]:
df.loc[df.A > 15]

    A   B   C   D
z  18  19  20  21

### 인덱서 2개

In [12]:
df.loc['x','A']

10

In [13]:
df.loc['y':, 'B']

y    15
z    19
Name: B, dtype: int64

### iloc 인덱서

In [14]:
# 정수 인덱스만 받음

df.iloc[0,0]

10

In [16]:
df.iloc[:2, 1:]

    B   C   D
x  11  12  13
y  15  16  17

In [17]:
# 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.

df = pd.DataFrame(np.arange(25).reshape(5,5),
                  index = ['a','b','c','d','e'],
                  columns = ['v','w','x','y','z'])
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [18]:
# 10가지 이상의 방법으로 특정한 행과 열을 선택한다.


df['x']['c'], df.x['c'], df.x[2], df.x.c

(12, 12, 12, 12)

In [20]:
# loc
df.loc['c','x'], df.loc['c']['x'], df.loc['c'][2]

(12, 12, 12)

In [22]:
# iloc
df.iloc[2][2], df.iloc[2,2], df.iloc[2]['x']

(12, 12, 12)