In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [14]:
movie = pd.read_csv('Data/movie/movies_metadata.csv', low_memory=False)
info = pd.read_csv('Data/movie/credits.csv')
info.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [15]:

movie.shape, info.shape

((45466, 24), (45476, 3))

In [16]:
df = movie[['id','title','overview']]
df[df.id=='1997-08-20']

               id title  overview
19730  1997-08-20   NaN  Released

In [17]:
df.dropna(inplace=True)
df['id'] = df.id.astype(int)

In [18]:
info['id'] = info.id.astype(int)
df = df.merge(info, on='id')
df.set_index('id', inplace=True)
df.head(3)

,title,overview,cast,crew
id,,,,
862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

In [19]:
# Colab 에서 수행하면 이 코드를 수행할 것
# df = df.head(20000)

In [38]:
df = df.head(20000)

In [39]:
df.cast[862]

[{'cast_id': 1005,
  'character': 'Marek',
  'credit_id': '52fe49e5c3a368484e145fcd',
  'gender': 0,
  'id': 587975,
  'name': 'Marcin Walewski',
  'order': 0,
  'profile_path': None},
 {'cast_id': 1007,
  'character': "Joanna - Marek's mother",
  'credit_id': '5432c0680e0a2656e2004b57',
  'gender': 0,
  'id': 591258,
  'name': 'Magdalena Cielecka',
  'order': 1,
  'profile_path': '/tYQNfa9WhK39Y8AXCDzs6RQK5Qw.jpg'},
 {'cast_id': 1008,
  'character': "Roman - Marek's father",
  'credit_id': '5432c081c3a36831a9005dc2',
  'gender': 0,
  'id': 140221,
  'name': 'Mariusz Bonaszewski',
  'order': 2,
  'profile_path': '/opB6JZyMD4aIOVSB1c8o2BQjwOv.jpg'},
 {'cast_id': 1009,
  'character': 'Barbara - Joannas sister',
  'credit_id': '5432c094c3a3681143004b22',
  'gender': 1,
  'id': 105562,
  'name': 'Agnieszka Grochowska',
  'order': 3,
  'profile_path': '/2apU86P6peRMxzNRZJV1sYl8X8B.jpg'},
 {'cast_id': 1010,
  'character': 'Weronika - Joannas sister',
  'credit_id': '5432c0a4c3a3681143004b28',
  'gender': 0,
  'id': 92652,
  'name': 'Grażyna Błęcka-Kolska',
  'order': 4,
  'profile_path': '/gxh68dDbe9eybsr0DzLurezaBM3.jpg'},
 {'cast_id': 1011,
  'character': 'Klaudyna - Joannas sister',
  'credit_id': '5432c0b4c3a3681143004b2c',
  'gender': 1,
  'id': 1095650,
  'name': 'Julia Kijowska',
  'order': 5,
  'profile_path': '/siNlggLwFE0BVD8tGYmuKUDb9Ge.jpg'}]

# 주연배우

In [40]:
from ast import literal_eval
df['cast'] = df.cast.apply(literal_eval)
df.head(3)

ValueError: malformed node or string: [{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [ ]:
df.cast[862][0]['name']

'Tom Hanks'

In [ ]:
import re
a = ['a B', 'c D']
a = list(map(lambda x: re.sub(' ','',x).lower(), a))
a

['ab', 'cd']

In [ ]:
def get_3cast(x):
    cast = []
    for item in x:
        if item['name'] not in cast:
            cast.append(item['name'])
    cast = cast if len(cast) <= 3 else cast[:3]
    cast = list(map(lambda x: re.sub(' ','',x).lower(), cast))
    return ' '.join(cast)

In [ ]:
df['cast3'] = df.cast.apply(get_3cast)

# 감독

In [ ]:
df['crew'] = df.crew.apply(literal_eval)

In [41]:
df.crew[862]

[{'credit_id': '52fe49e5c3a368484e145fb7',
  'department': 'Directing',
  'gender': 0,
  'id': 587971,
  'job': 'Director',
  'name': 'Jan Jakub Kolski',
  'profile_path': None},
 {'credit_id': '52fe49e5c3a368484e145fc3',
  'department': 'Crew',
  'gender': 2,
  'id': 6427,
  'job': 'Cinematography',
  'name': 'Artur Reinhart',
  'profile_path': None},
 {'credit_id': '52fe49e5c3a368484e145fc9',
  'department': 'Editing',
  'gender': 0,
  'id': 587974,
  'job': 'Editor',
  'name': 'Witold Chominski',
  'profile_path': None},
 {'credit_id': '571c8b2e92514115e200242b',
  'department': 'Production',
  'gender': 0,
  'id': 1244217,
  'job': 'Producer',
  'name': 'Michał Kwieciński',
  'profile_path': None},
 {'credit_id': '5432c0470e0a265872004aad',
  'department': 'Writing',
  'gender': 0,
  'id': 587971,
  'job': 'Writer',
  'name': 'Jan Jakub Kolski',
  'profile_path': None}]

In [42]:
def get_director(x):
    for item in x:
        if item['job'] == 'Director':
            return item['name'].replace(' ','').lower()
    return ''

In [43]:
df['director'] = df.crew.apply(get_director)

In [44]:
df.reset_index(inplace=True)
df.head(3)

,index,id,title,overview,cast,crew,cast3,director,total
0,0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",tomhanks timallen donrickles,johnlasseter,"Led by Woody, Andy's toys live happily in his ..."
1,1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",robinwilliams jonathanhyde kirstendunst,joejohnston,When siblings Judy and Peter discover an encha...
2,2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",waltermatthau jacklemmon ann-margret,howarddeutch,A family wedding reignites the ancient feud be...

# DTM 변환

In [45]:
df['total'] = df.overview + ' ' + df.director + ' ' + df.cast3
df.head(3)

,index,id,title,overview,cast,crew,cast3,director,total
0,0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",tomhanks timallen donrickles,johnlasseter,"Led by Woody, Andy's toys live happily in his ..."
1,1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",robinwilliams jonathanhyde kirstendunst,joejohnston,When siblings Judy and Peter discover an encha...
2,2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",waltermatthau jacklemmon ann-margret,howarddeutch,A family wedding reignites the ancient feud be...

In [46]:
# Overview + 감독 + 주연배우
from sklearn.feature_extraction.text import TfidfVectorizer

tvect = TfidfVectorizer(stop_words='english')
tfidf_matrix = tvect.fit_transform(df.total)
tfidf_matrix.shape

(20000, 76313)

In [47]:
# 영화의 타이틀과 인덱스를 가진 테이블
indices = pd.Series(df.index, index=df.title).drop_duplicates()
indices.head()

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [48]:
# 코사인 유사도
from sklearn.metrics.pairwise import linear_kernel

In [49]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [50]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return df.title.iloc[movie_indices]

In [51]:
get_recommendations('The Dark Knight Rises')

12491                            The Dark Knight
149                               Batman Forever
1323                              Batman Returns
15509                 Batman: Under the Red Hood
10128                              Batman Begins
583                                       Batman
9237          Batman Beyond: Return of the Joker
18002                           Batman: Year One
3088                Batman: Mask of the Phantasm
19733    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object

In [52]:

get_recommendations('Toy Story')

15347               Toy Story 3
2990                Toy Story 2
10307    The 40 Year Old Virgin
8338                  The Champ
1067      Rebel Without a Cause
1924                  Condorman
11412    For Your Consideration
11618              Factory Girl
17171                 Group Sex
483                      Malice
Name: title, dtype: object